<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Owner's</title>
</head>
<body>
    <h1>List of Owner's are .....</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner:${owners}">
                <td th:text="${owner?.id}">1</td>
                <td th:text="${owner?.firstname}">asd</td>
                <td th:text="${owner?.lastname}">asd</td>
            </tr>
        </tbody>
    </table>
</body>
</html>